<html>
<body>
    <footer>
        <form action="#" method="post" class="contenedorFormularioContacto">
            <input type="text" name="nombreYApellido" class="formContactoInput" placeholder="Nombre y apellido"
                required>
            <input type="email" name="Email" class="formContactoInput" placeholder="e-mail" required>
            <br>
            <input type="number" name="telefono" class="formContactoInput" placeholder="Telefono de contacto">
            <input type="text" name="lugar" class="formContactoInput" placeholder="De donde nos contactas?">
            <br>
            <textarea class="textarea" name="comentario" id='comentario' placeholder="Cual es tu mensaje?"></textarea>
            <button type="submit" class="botonFormUsuario">Enviar</button>
        </form>
        <section class='contactoPersonal'>
            <div class="boxFooter">
                <i class="fas fa-phone-alt"></i>
                <p>Contactanos por tenefono!</p>
                <a href="Https://wa.me/541166625790"> +541166625790</a>
            </div>
            <div class="boxFooter">
                <i class="fas fa-map-marker-alt"></i>
                <p> Nos encontramos en Calle Falsa 123</p>
            </div>

            <div class="redesSociales">
                <nav class='logoRS'>
                    <a href="https://www.facebook.com/Doliva.bsas">
                        <i class="fab fa-facebook"></i>
                    </a>
                </nav>
                <nav class='logoRS'>
                    <a href="https://www.instagram.com/doliva.bsas/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </nav>
                <nav class='logoRS'>
                    <a href="Https://wa.me/541166625790">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </nav>

            </div>
        </section>

    </footer>
</body>
</html>