<footer class="footerRegistroLogin">

    <section class='contactoRegistroLogin'>

        <div class="redesSociales">
            <nav class='logoRS'>
                <a href="https://www.facebook.com/Doliva.bsas">
                    <i class="fab fa-facebook"></i>
                </a>
            </nav>
            <nav class='logoRS'>
                <a href="https://www.instagram.com/doliva.bsas/">
                    <i class="fab fa-instagram"></i>
                </a>
            </nav>
            <nav class='logoRS'>
                <a href="Https://wa.me/541166625790">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </nav>


        </div>
    </section>
</footer>