<html>
    <body>
        <header>
            <div class="top-bar">
                <a href="/">
                    <div class="logo">
                        <img src="/images/logos/logoPpal.png" class="logoPpal">
                    </div>
                </a>
                <section class="nav-bar-busqueda">
                    <input type="search" placeholder="  Buscar productos, marcas y más...">
                </section>
                <nav>
                    <ul>
                        <li class="logoUsuario">
                            <a href="/login">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li class="logoUsuario">
                            <a href="/register">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        <li class="logoCarrito">
                            <a href="/productCart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
    </html>