<html>
    <body>
        <header>
            <div class="top-bar">
                <a href="/">
                    <div class="logo">
                        <img src="/images/logos/logoPpal.png" class="logoPpal">
                    </div>
                </a>
            </div>
        </header>
    </body>
</html>