<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7213ba6fdf.js" crossorigin="anonymous"></script>
    <title>Eliá 5Lt.</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-bar">
            <a href="/">
                <div class="logo">
                    <img src="/images/logos/logoPpal.png" class="logoPpal">
                </div>
            </a>
            <section class="nav-bar-busqueda">
                <input type="search" placeholder="  Buscar productos, marcas y más...">
            </section>
            <nav>
                <ul>
                    <li class="logoUsuario">
                        <a href="/login">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li class="logoUsuario">
                        <a href="/register">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="logoCarrito">
                        <a href="/productCart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="contenedor">
        <h4>Productos agregados:</h4>
        <section class="productoCarrito">
            <img src='/images/productos/elia5lt.jpg' class='imagen'>
            <div class='infoProductoCarrito'>
                <section class='descripcion'>
                    <h3> Eliá - 5Lt. </h3>
                    <p class='descripcionProducto'> De un coupage de aceitunas seleccionadas de diferentes variedades
                         definidas por nuestro panel de cata, resulta Eliá Blend.</p>
                        <p class='descripcionProducto'> Un exquisito producto de máxima aceptación en todos los mercados, Versátil
                             este aceite de oliva acompaña perfectamente tanto a ensaladas frescas, carnes o pescados a las 
                             brasas, y se disfruta simplemente con pan fresco, tostado o aun como sustituto de la manteca.</p>
                            <section class='infoPrecio'>
                                <p class='precioCarrito'> $4.900 </p>
                            </section>
                </section>
            </div>
        </section>

    </main>
    
</body>
</html>