<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7213ba6fdf.js" crossorigin="anonymous"></script>
    <title>Amazon ACEITES DE OLIVA</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-bar">
            <section class="logo">
                <img src="/images/logos/logoPpal.png" class="logoPpal">
            </section>
            <section class="nav-bar-busqueda">
                <input type="text" placeholder="  Buscar productos, marcas y más...">

            </section>
            <nav>
                <ul>
                    <li class="logoUsuario">
                        <a href="#">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="logoCarrito">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="contenedor">
        <section>
            <div class='banner'>
            </div>
        </section>
        <h2 class='titulo'>Y vos.. ¿ya probaste nuestros productos?</h2>
        <h3 class='subtitulo'>Destacados del mes: </h3>
        <Section class='productosDestacados'>
            <article class="producto">
                <img src='/images/productos/libanti500.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $800 </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Libanti - 500ml. </h3>
                    </section>
                </div>
            </article>
            <article class="producto">
                <img src='/images/productos/aceitunasNegrasRDV.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $800 </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Negras tipo GRIEGAS </h3>
                    </section>
                </div>
            </article>
            <article class="producto">
                <img src='/images/productos/aceitunasVerdesRDV.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $750 </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Arauco en salmuera </h3>
                    </section>
                </div>
            </article>
            <article class="producto">
                <img src='/images/productos/elia500.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $800 </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Eliá - 500ml. </h3>
                    </section>
                </div>
            </article>
        </Section>
        <br>
        <h2 class='titulo'> APROVECHA NUESTROS DESCUENTOS!!</h2>
        <h3 class='subtitulo'> Que no falte en tu mesa. </h3>
        <section class='productosPromo'>
            <article class="producto">
                <img src='/images/productos/libanti1lt.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $800 </p>
                        <p class='promocion'> 15% Off </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Libanti - 1Lt. </h3>
                    </section>
                </div>
            </article>
            <article class="producto">
                <img src='/images/productos/libanti5lt.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $800 </p>
                        <p class='promocion'> 15% Off </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Libanti - 5Lt. </h3>
                    </section>
                </div>
            </article>
            <article class="producto">
                <img src='/images/productos/elia3lt.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $800 </p>
                        <p class='promocion'> 15% Off </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Eliá - 3Lt. </h3>
                    </section>
                </div>
            </article>
            <article class="producto">
                <img src='/images/productos/elia5lt.jpg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $800 </p>
                        <p class='promocion'> 15% Off </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Eliá - 5Lt. </h3>
                    </section>
                </div>
            </article>
            <article class="producto">
                <img src='/images/productos/libanti3lt.jpeg' class='imagen'>
                <div class='infoProducto'>
                    <i class="fas fa-cart-plus"></i>
                    <section class='infoPrecio'>
                        <p class='precio'> $2.600 </p>
                        <p class='promocion'> 15% Off </p>
                    </section>
                    <section class='descripcion'>
                        <h3> Libanti - 3Lt. </h3>
                    </section>
                </div>
            </article>
        </section>
    </main>
</body>

</html>