<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7213ba6fdf.js" crossorigin="anonymous"></script>
    <title>Amazon ACEITES DE OLIVA</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-bar">
            <section class="logo">
                <img src="/images/logos/logoPpal.png" class="logoPpal">
            </section>
            <section class="nav-bar-busqueda">
                <input type="text" placeholder="  Buscar productos, marcas y más...">

            </section>
            <nav>
                <ul>
                    <li class="logoUsuario">
                        <a href="#">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="logoCarrito">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="contenedor">
        <section>
            <div class='banner'>
            </div>
        </section>
    </main>
</body>

</html>