<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7213ba6fdf.js" crossorigin="anonymous"></script>
    <title>Libanti 3Lt.</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-bar">
            <a href="/">
                <div class="logo">
                    <img src="/images/logos/logoPpal.png" class="logoPpal">
                </div>
            </a>
            <section class="nav-bar-busqueda">
                <input type="search" placeholder="  Buscar productos, marcas y más...">
            </section>
            <nav>
                <ul>
                    <li class="logoUsuario">
                        <a href="/login">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li class="logoUsuario">
                        <a href="/register">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="logoCarrito">
                        <a href="/productCart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="contenedor">
        <h4>Productos agregados:</h4>
        <section class="productoCarrito">
            <img src='/images/productos/libanti3lt.jpeg' class='imagen'>
            <div class='infoProductoCarrito'>
                <section class='descripcion'>
                    <h3> Libanti - 3Lt. </h3>
                    <p class='descripcionProducto'> Zumo oleoso totalmente natural, procesado a partir de aceitunas
        
                        recolectadas en el punto óptimo de madurez preservando las propiedades nutricionales y terapéuticas
                        del Aceite de Oliva Virgen Extra.</p>
                        <p class='descripcionProducto'> Aceite de color amarillo con reflejos verdosos, Frutado 
                            a aceitunas frescas, recien cosechadas con definidas notas a mandazas verdes, Muy aromático y expresivo.
                            De gran suavidad y equilibrio.</p>
                            <section class='infoPrecio'>
                                <p class='precioCarrito'> $2.600 </p>
                                <p class='promocion'> 15% Off </p>
                            </section>
                </section>
            </div>
        </section>

    </main>
    
</body>
</html>