<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
   
<body>
    <%- include('./partials/header') %>
    <div class="cuerpoRegistroLogin">
        <div class="divGrande wrapper">
        <div class="cointeiner">
            <div class="cointeiner-head"></div>
            <div class="cointeiner-body">
                <h2 class="title">Iniciar sesion</h2>
                <form method="POST">
                    <div class="cuestionarios-grupo">
                        <input class="cuestionario espacio" type="email" placeholder="Correo Electronico" name="email">
                        <input class="cuestionario espacio" type="password" placeholder="Contraseña" name="Contraseña">
                            <div class="recordarme masEspacio">
                                <input class="recordar" type="checkbox" placeholder=" Confirmar contraseña" name="recordar" value="true">
                                <p>Recordarme</p>
                            </div>
                         <div class="boton">
                            <button class="botonenviar" type="submit">Enviar</button>
                        </div>
                    </div>
                </div>
                </form>
                <%- include('./partials/footer') %>
            </div>
        </div>
    </div>
</body>
  </html>
