<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7213ba6fdf.js" crossorigin="anonymous"></script>
        <title> Crear sesión</title>
        <link href="/css/styles.css" rel="stylesheet">
    </head>
<body id="cuerpoRegistroLogin">
    <div class="divGrande">
        <div class="cointeiner">
            <div class="cointeiner-head"></div>
            <div class="cointeiner-body">
                <h2 class="title">Crear una cuenta</h2>
                <form method="POST">
                    <div class="cuestionarios-grupo">
                        <input class="cuestionario espacio" type="text" placeholder="Nombre y apellido" name="name">
                        <input class="cuestionario espacio" type="email" placeholder="Correo Electronico" name="email">
                        <input class="cuestionario espacio" type="password" placeholder="Contraseña" name="Contraseña">
                        <input class="cuestionario espacio" type="password" placeholder="Confirmar contraseña" name="Contraseña">
                        <div class="recordarme masEspacio">
                        <input class="recordar" type="radio" placeholder=" Confirmar contraseña" name="recordar" value="true">
                        <p>Recordarme</p>
                        </div>
                        <div class="boton">
                            <button class="botonenviar" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
  </html>
  <!-- end document-->