<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7213ba6fdf.js" crossorigin="anonymous"></script>
        <title>Iniciar sesión</title>
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
     <div class="cointeiner">
     <h3 class="title">Crea tu cuenta</h3>
     <form action="resultado.html" method="POST">
        <p>
            <label>Nombre y Apellido:</label>
            <input type="text" name="usuario">
        </p>
        <p>
            <label>Correo Electronico:</label>
            <input type="email" name="email">
        </p>
        <p>
           <button type="submit">Enviar</button>
        </p>
    </div>
    </form>
    </body>
    </html>

