<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="cuerpoRegistroLogin envolturaPagina">
        <div class="envoltura1 envoltura2">
            <div class="conteiner1 conteiner2 ">
                <div class="conteinerHead"></div>
                <div class="conteinerBody">
                    <h2 class="tituloRegistro">Crear una cuenta</h2>
                    <form method="POST">
                        <div class="cuestionarios-grupo">
                                <input class="cuestionario espacio" type="text" placeholder="Nombre y apellido"
                                    name="name">
                            <input class="cuestionario espacio" type="email" placeholder="Correo Electronico"
                                name="email">
                            <input class="cuestionario espacio" type="password" placeholder="Contrase単a"
                                name="Contrase単a">
                            <input class="cuestionario espacio" type="password" placeholder="Confirmar contrase単a"
                                name="Contrase単a">
                            <div class="recordarme masEspacio">
                               <div class="recordarOrder">
                                <p id="recordar">Recordarme</p>
                                <input id="recordar" type="checkbox" name="recordar" value="true">
                                 </div>
                            </div>
                                  <div class="boton botonRadio botonColor">
                                <button class="botonenviar" type="submit">Enviar</button>
                                 </div>
                        </div>
                </div>
                </form>
                <%- include('./partials/footer') %>
            </div>
        </div>
    </div>
</body>

</html>