* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eccc6e;
}
header {
  height: 10vh;
  padding: 10px 15px;
  background-color: #eccc6e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.top-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  width: 60%;
  max-width: 10vh;
}
.logoPpal {
  justify-content: space-between;
  margin: 0;
  border-radius: 5px;

  height: 8vh;
}
.nav-bar-busqueda input {
  width: 45vw;
  border-radius: 15px;
  border: none;
  margin-bottom: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
nav ul li a i {
  color: #7a7639;
  padding: 0.3em;
  margin: 0.2em;
}
.banner {
  width: auto;
  height: 20vh;
  margin: 20px;
  background-size: 100% 100%;
  margin-top: 100px;
  padding: 100;
  background-color: #eccc6e;

  animation: banner 20s infinite;
  animation-direction: alternate;
}
@keyframes banner {
  0%,
  50% {
    background-image: url(/images/logos/banner-amazon.png);
    opacity: 1;
  }
  51%,
  100% {
    background-image: url(/images/logos/bannerDoliva.png);
    opacity: 1;
  }
}
a{
  text-decoration: none;
}
.productosDestacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tituloPpal {
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  font-family: verdana, arial;
  color: #7a7639;
  margin: 0 5px;
}
.titulo {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  font-family: verdana, arial;
  background-color: #7a7639;
  color: #eccc6e;
  margin: 5px;
}
.subtitulo {
  text-align: center;
  font-size: 20px;
  background-color: #7a7639;
  color: #eccc6e;
  margin: 10px 5px;
}
.productosPromo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
  border: 10px double #7a7639;
  margin: 3px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 50px;
}
.producto {
  box-shadow: 5px 15px 20px rgb(100, 100, 100);
  border-radius: 10px;
  position: relative;
  background-color: #7a7639;
  margin: 5px;
}
.imagen {
  width: 50vw;
  height: 45vh;
  margin: 2px;
  max-width: 175px;
}
.productosPromo .imagen{
  width: 40vw;
  height: 40vh;
}
.productosPromo .producto{
  margin:auto;
}
.infoProducto {
  display: block;
  justify-content: center;
  text-align: center;
  color: #eccc6e;
}
.infoProducto i {
  display: block;
  font-size: 20px;
  padding: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid #7a7639;
  background-color: #eccc6e;
  color: #7a7639;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  text-align: center;
  z-index: 9;
  transition: all 1000ms;
}
.producto:hover i {
  transform: rotateZ(-360deg);
}
.precio {
  font-weight: bold;
  font-size: 20px;
}
.promocion {
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-family: comic;
  font-size: 40px;
  font-weight: bold;
  padding: 15px;
  position: absolute;
  background-color: #7a7639;
  color: #ee1606;
  font-weight: 4000;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.producto:hover .promocion {
  display: flex;
  opacity: 1;
}
.productoCarrito{
  box-shadow: 5px 15px 20px rgb(100, 100, 100);
  border-radius: 10px;
  position: absolute;
  border: 5px solid #7a7639;
  background-color: #7a7639;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}
  .productoCarrito .imagen{
    height: 100%;
  }
.infoProductoCarrito{
  display: block;
  justify-content: center;
  text-align: center;
  color: #eccc6e;
}
.descripcionProducto{
  position:relative;
  text-align: center;
  max-width: 35vw;
  margin-top: 5vh;
  font-size: 20px;
}
.precioCarrito{
  font-weight: bold;
  font-size: 30px;
  margin-top: 10vh;;

}
.contenedorBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}
.box {
  border: 10px double #7a7639;
  margin: 2em;
  box-shadow: 5px 5px 5px #7a7639;
}
.box:hover {
  box-shadow: 20px 15px 15px 10px #7a7639;
}
.box p {
  font-size: 18px;
}
.box i {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #7a7639;
}
footer {
  padding: auto;
  position: absolute;
  background-color: #7a7639;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.contenedorFormularioContacto {
  padding: 5px 10px;
  border: 3px dashed #eccc6e;
  width: 50%;
  margin-bottom:15%;
  height:55vh
}
.formContactoInput {
  font-size: 15px;
  width: 48%;
  padding: 8px;
  position: relative;
  box-shadow: 2px 2px 2px #7a7639;
  border: none;
  margin: 3px 0;
  text-align: center;
  height:12vh;
}
.textarea {
  font-size: 15px;
  padding: 8px;
  box-shadow: 2px 2px 2px #7a7639;
  border: 1px;
  margin: auto;
  position: relative;
  text-align: center;
  min-width: 46.7vw;
  max-width: 46.7vw;
  min-height: 20vh;
  max-height: 20vh;
}
.botonFormUsuario {
  background-color: #eccc6e;
  border: none;
  font-size: 15px;
  color: #7a7639;
  padding: 5px 10px;
  border-radius: 50px;
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:5px auto;
}
.botonFormUsuario:hover {
  font-weight: bold;
  box-shadow: 5px 5px 5px black;
}
.contactoPersonal {
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
.boxFooter {
  border: 10px double #eccc6e;
  margin: 2em;
  box-shadow: 5px 5px 5px #756535;
  width: 90%;
  justify-content:space-around;

}
.boxFooter i {
  font-size: 20px;
  color: #eccc6e;
  display: flex;
  justify-content: center;
}
.boxFooter p {
  font-size: 18px;
  text-align: center;
}
.boxFooter a {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-weight: bold;
}
.redesSociales {
  display: flex;
  align-items: flex-end;
  justify-content:space-around;
}
.redesSociales i {
  font-size: 30px;
  color: #eccc6e;
  margin: 3px;
  right: 20px;
}
.logoRS:hover{
  box-shadow: 5px 5px 50px black;
  border-radius: 100%;
}

h4{
  margin-top:15vh;
  font-size: 50px;
  color: black;
  z-index: 11;
}
@media (min-width: 1200px) {
  header {
    height: 13vh;
  }
  .logoPpal {
    height: 10vh;
  }
  .top-bar {
    font-size: 20px;
  }
  .nav-bar-busqueda input {
    width: 60vw;
    height: 4vh;
    font-size: 20px;
  }
  .banner {
    margin-top: 120px;
    max-width: 100vw;
  }
}
/*
.cuerpoRegistroLogin{
  min-height: 100vh;
  padding-top: 180px;
  padding-bottom:100px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}
.divgrande{
  min-height: 100vh;
  max-width: 960px;
  display: flex;
 position: relative;

}
.cointeiner{
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 50%;
  display: flex;
  margin-top: 35% ;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.cointeiner-head{
  width: 29.1%;
  display: table-cell;
  ;
}
 .cointeiner-body{
  display: table-cell;
  padding: 80px 0px;
  padding-bottom: 88px;
  ;
}
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 75%;
  font-size: 14px;
  font-family: inherit;
  position: relative;
}
.cuestionarios-grupo{
  position: relative;
  margin: auto;

  ;
}
.cuestionario{
  padding: 9px 0;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #a7a3a3;
  position: relative ;
  display: flex;

}
.recordarme{
  display: flex;

}
.boton{
  padding-top: 30px;
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  background: #7A7639;
}
.boton:hover{
  outline: none;
background: none;
border: none;
align-self: center;
color: #fff;
background: #504b0d
}
.botonenviar{
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  background: none;
  border: none;
  align-self: center;
  color: #fff;

}
.botonenviar:hover{
  outline: none;
  background: none;
  border: none;
  align-self: center;
  color: #fff;
  background: #504b0d

}
 .espacio{
   padding-bottom: auto
   ;
 }
.masEspacio{
  padding-top: 10px;
}
.footerRegistroLogin{
  padding: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contactoRegistroLogin{
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.wrapper {
  min-height: 100vh;
}
*/
.footerRegistroLogin{
  padding: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contactoRegistroLogin{
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.envolturaPagina{
  min-height: 100vh;
}
.cuerpoRegistroLogin{
  padding-top: 180px;
  padding-bottom: 100px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}
.envoltura1{margin: 0 auto;
}
.envoltura2{
  max-width: 960px
}
.conteiner1{
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
.conteiner2{
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  display: table;
}
.conteiner2 .conteinerHead{
  background: url("/images/logos/logoPpal.png") top left/cover no-repeat;

  width: 29.1%;
  display: table-cell;
}
@media (max-width: 767px) {
  .conteiner2 {
    display: block;
  }
  .conteiner2 .conteinerHead {
    width: 100%;
    display: block;
    padding-top: 300px;
    background-position: left center;
  }
  .conteiner2 .conteinerBody {
    display: block;
    padding: 60px 50px;
  }
}
.conteiner2 .conteinerBody{display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}}
.tituloRegistro{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 37px;
}
.cuestionarios-grupo{
  position: relative;
  margin-bottom: 32px;
  
}
.cuestionario{
  padding: 9px 0;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
}
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}
.masEspacio{
  padding-top: 10px;
}
.recordarme{
  display: flex;

}



.boton{line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}
.botonRadio{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.botonColor{
 background: #7A7639;
}
.botonColor:hover{
  background: #3f3c11;
}
button {
  outline: none;
  background: none;
  border: none;
}
