* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 10px 15px;
  background-color: #eccc6e;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  width: 60%;
  max-width: 120px;
}
.logoPpal {
  justify-content: space-between;
  margin: 0;
  border-radius: 5px;
  max-width: 90px;
  max-height: 990px;
}
.nav-bar-busqueda input {
  width: 45vw;
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
nav ul li a i {
  color: #7a7639;
  padding: 0.3em;
  margin: 0.2em;
}
.bannerOfertas{
  display: flex;
}
.topBanner{
  margin: center;
  width:100vw;
  max-height: 20vh;
}